# Environnement virtuel (dépendances locales)
.venv/
venv/
env/
.env
# Fichiers compilés Python (cache)
__pycache__/
*.pyc
*.pyo
*.pyd


# Local configuration file
Config/settings.py
logs/optivolt.log

# macOS
.DS_Store
# Windows
Thumbs.db
# Logs
*.log
